@mixin tile-coloring ($palette) {
  color: color-yiq(map-get($palette, 400));
  background-color: map-get($palette, 400);
}

.tile {
  margin: 5px;
  text-decoration: none;
  border-radius: 2px;
  padding: 1.5rem 1.25rem;
  display: inline-block;
  box-shadow: 1px 1px 10px 1px #00000044;

  @at-root a#{&} {
    &:hover {
      box-shadow: 1px 1px 10px 3px #00000044;
    }
  }

  @each $color, $palette in $colorPalettes {
    &.tile-#{$color} {
      @include tile-coloring($palette)
    }
  }
}
